* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}
/*login styles*/
.login-background {
    height: 100vh;
    position: relative;
    background-color: rgba(0,0,0,0.1);
}

.login-container {
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px 2px;
}

.header-container {
    background-color: rgb(43 33 96);
}

.login .login-p {
    text-align: center;
    padding: 1vh;
    font-size: 1.5em;
    margin: 2vh 0;
}

.login {
    padding-bottom: 5vh;
}

.login-container h1 {
    padding: 5vh 0;
    text-align: center;
    background-color: rgb(43 33 96);
    color: white;
    margin: 0;
    font-size: 1.8em;
    padding: 5vh 5vw 5vh 5vw;
}

.login input {
    display: block;
    padding: 1.5vh 1.5vw;
    margin: 2vh auto;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.5);
}

    .login input:first-child {
        margin: 0 auto 2vh auto;
    }

.login-form button {
    background-color: rgb(43 33 96);
    color: white;
    padding: 10px 25px;
    border: 1.5px solid rgb(43 33 96);
    transition: 0.3s all;
    border-radius: 5px;
    cursor: pointer;
}

    .login-form button:hover {
        color: rgb(43 33 96);
        background-color: white;
    }

.login-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1vh 0;
}

.login p {
    margin: 0;
    text-align: center;
}

.login a {
    display: inline-block;
    background-color: rgb(43 33 96);
    color: white;
    padding: 10px 25px;
    border: 1.5px solid rgb(43 33 96);
    transition: 0.3s all;
    border-radius: 5px;
    margin: 0 0 20px 0;
}

.login-form .sign-up-link {
    display: inline-block;
    margin: 0;
    text-align: center;
}

.login a:hover {
    text-decoration: none;
    color: rgb(43 33 96);
    background-color: white;
}

.signup-button-container {
    text-align: center;
    padding: 1.0vh 0 1vh 0;
}

    .signup-button-container a {
        margin: 1vh 0 2vh 0;
    }

.login-error {
    color: red;
}

/*admin home styles*/
.user-home {
    background-image: url('picture/home-wallpaper.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-home-content {
    color: white;
    width: 80vw;
    height: 80%;
}

.user-home .welcome {
    font-size: 3em;
}

.user-home-content > div {
    float: left;
    width: 50%;
    height: 100%;
}

.user-home .welcome-container {
    padding: 15vh 5vw;
}

.user-home .welcome-heading {
    font-size: 5vh;
}

.user-home .welcome-subtext {
    font-size: 2vh;
}

.user-home-items {
    padding: 0vh 5vw 0 0;
}

    .user-home-items > div {
        font-size: 3vh;
        border: 1px solid rgba(0,0,0,0);
    }

        .user-home-items > div a {
            display: inline-block;
            color: white;
            padding: 1.3vh 2vw;
            width: 100%;
            margin: 2vh 0;
            transition: all 0.3s;
            border: 2px solid white;
            border-radius: 45px;
            text-decoration: none;
            font-size: 2vh;
        }

    .user-home-items > a {
        display: inline-block;
        font-size: 1.5em;
        padding: 2vh 2vw;
        color: white;
        padding: 2vh 2vw;
        width: 100%;
        margin: 2vh 0;
        transition: all 0.3s;
        border: 2px solid white;
        border-radius: 45px;
        text-decoration: none;
        font-size: 2vh;
    }

    .user-home-items > div a:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,0.4);
    }

    .user-home-items > a:hover {
        text-decoration: none;
        color: white;
        background-color: rgba(0,0,0,0.4);
    }

/* form styles */
.form-body {
    background-image: url('picture/form-wallpaper.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-container {
    position: relative;
}

.form-content-container {
    color: white;
    width: 80vw;
    height: 80%;
}

    .form-content-container > div {
        float: left;
        width: 50%;
        height: 100%;
    }

    .form-content-container .text-container {
        padding: 20vh 10vw 10vh 5vw;
    }

    .form-content-container .form-container {
        padding: 5vh 10vw 10vh 0vw;
    }

    .form-content-container .form-inner-container {
        background-color: rgba(255,255,255,0.9);
        border-radius: 8px;
        box-shadow: black 0 5px 15px 2px;
    }

.form-inner-container .form-header h2 {
    padding: 3vh 0 2vh 2vw;
    margin: 0;
    background-color: rgb(17 7 68);
    color: rgba(255,255,255,0.9);
    font-size: 3vh;
}

.form-inner-container form {
    padding: 2vh 0 2vh 0;
}

.form-container form input, .form-container form select {
    display: block;
    margin: 0 0 1.5vh 2vw;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0.3);
    width: 70%;
    border-radius: 8px;
    font-size: 1.5vh;
}

.form-container form label {
    margin: 1.5vh 0 1vh 2vw;
    color: rgba(0,0,0,0.8);
    font-size: 1.6vh;
}

.form-container form input::placeholder {
    color: rgba(0,0,0,0.4);
}

.form-container form .form-button {
    background-color: rgb(17 7 68);
    color: rgba(255,255,255,0.9);
    margin: 1.5vh 0 4vh 2vw;
    padding: 1.5vh 3vw;
    border-radius: 50px;
    transition: all 0.3s;
    border: none;
    font-size: 1.5vh;
    cursor: pointer;
}

    .form-container form .form-button:hover {
        background-color: rgb(54 44 139);
    }

.text-container .exit-link {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(17 7 68);
    color: rgba(255,255,255,0.9);
    padding: 10px 40px;
    border-radius: 50px;
    transition: all 0.3s;
    display: inline-block;
    font-size: 2vh;
    text-decoration: none;
}

.login-link {
    background-color: rgb(17 7 68);
    color: rgba(255,255,255,0.9);
    padding: 10px 40px;
    border-radius: 50px;
    transition: all 0.3s;
    display: inline-block;
    font-size: 2vh;
    text-decoration: none;
}

    .login-link:hover {
        background-color: rgb(50 25 113);
        text-decoration: none;
        font-color: white;
    }

.text-container .exit-link:hover {
    background-color: rgb(50 25 113);
    text-decoration: none;
}
/* table styles */
.table-body {
    background-image: url('picture/table-wallpaper.jpg');
    background-size: cover;
}

.table-header-container {
    color: white;
}

    .table-header-container h1 {
        padding: 3vh 0 0vh 3vw;
        margin: 0;
    }

    .table-header-container h2 {
        font-size: 2vh;
        margin: 0;
        padding: 1vh 0 3vh 3vw;
    }

.table-outer-container {
    padding: 1vh 5vw 5vh 5vw;
}

.table-container-spacing {
    padding: 2vh 2vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 30px 5px;
}

.table-container {
    background-color: white;
    height: 65vh;
}

.table-body .exit-link {
    position: absolute;
    display: inline-block;
    padding: 1vh 2vw;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    transition: all 0.3s;
    right: 5vw;
    text-decoration: none;
}

.table-body .table-container {
    overflow: auto;
}

.table-body .exit-link:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0.6);
}

.table-body table {
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
    width: 100%;
}

    .table-body table th.header-left {
        border-radius: 10px 0 0 10px;
    }

    .table-body table th.header-right {
        border-radius: 0 10px 10px 0;
    }

    .table-body table th {
        position: sticky;
        top: 0;
        background-color: rgb(12 11 56);
        color: white;
        margin: 0;
        border-collapse: collapse;
        border: none;
        text-align: center;
        padding: 1vh 0;
    }

    .table-body table .id_th {
        width: 10%;
    }

    .table-body table td {
        padding: 10px 10px;
        text-align: center;
    }

    .table-body table td {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.15);
    }

/*style for assign work*/
.assign-work-body *{

}
.assign-work-body .assign-work-table{
    height: 50vh;
}
.assign-work-body .assign-work-form-outer-container {
    padding: 1vh 5vw 5vh 5vw;
}

.assign-work-body .assign-work-form-container {
    padding: 2vh 2vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 30px 5px;
    height: 10vh;
}

